
.heading{
    color: chartreuse;
    background-image: url(./assets/pizza1.jpeg); 
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 100%; 
    width: 100%; 
}
 #pizzalisting{
     color: black;   

 }
 .p{
     color:black;
     text-align: center;
     font-weight: bolder;
     font-size: larger;
     background-color: rgb(100, 97, 97);
 }
 
.pizzaImg{
    height: 100px;
}
.footer{
    text-align: center;
    color: chartreuse;
}

#pizza-attributs{
    display: none;
}



#shoppingCart{
    position:absolute;
    z-index: 1;
    display: none;
}
